<% provide(:title, "About") %>
<h1>About</h1>
<p>
  このサイトはユーザーは欲しいものを投稿し、開発者はユーザーの要求を探索することが
  できるということを目的としたSNSです。
</p>
<ul>
  <li>サイト案内
  <ul>
  　<li>Sign up : アカウントの登録ができます。</li>
  　<li>Help : 困ったらここへ</li>
  　<li>Log in : ログインができます</li>
  　<li>About : このページが表示されます</li>
  </ul>
  </li>
</ul>
　